$primary100-color: #2388FF;
$primary200-color: #FF2D46;
$primary300-color: #FFC700;
$primary400-color: #63DE77;

$secondary100-color: #1777E7;
$secondary200-color: #EAF4FF;
$secondary300-color: #6D39E4;
$secondary400-color: #F2ECFF;
$secondary500-color: #FF649C;
$secondary600-color: #FFEFF5;
$secondary700-color: #3AACFF;
$secondary800-color: #DBF0FF;

$neutral100-color: #FFFFFF;
$neutral200-color: #F8FAFF;
$neutral300-color: #F1F3F7;
$neutral400-color: #E1E4ED;
$neutral500-color: #B4BCC9;
$neutral600-color: #7D87A8;
$neutral700-color: #3A3E5C;
$neutral800-color: #19213D;

$overlay100-light: #FFFFFFF6;
$overlay200-light: #FFFFF8E0;
$overlay300-light: #FFFFFFA6;
$overlay400-light: #FFFFFCCC;
$overlay100-dark: #19213D0B;
$overlay200-dark: #19213D1A;
$overlay300-dark: #19213D4D;
$overlay400-dark: #19213DCC;

$shadow-small: 0px 2px 4px rgba(0, 0, 0, 0.05);
$shadow-medium: 0px 4px 12px rgba(0, 0, 0, 0.08);
$shadow-large: 0px 6px 24px rgba(0, 0, 0, 0.1);

$font-family-base:"Cormorant Garamond", serif ;

$font-size-small: 14px;
$font-size-base: 16px;
$font-size-large: 20px;

$line-height-base: 150%;


$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$border-radius: 8px;
$container-padding: 24px;

$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;